*{
    margin: 0;
    padding: 0;
}
body {
    background: #FF6600;
    font-family: Verdana, Geneva, sans-serif;
    height: 100vh;
    /*F4ECE0*/
}
p {
    color: #222;
}
#title_container {
    text-align: center;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
}
h2 {
    font-size: 24px;
    padding: 5px;
    color: #222;
}
hr {
    border-top: 1px solid #ccc;
    width: 500px;
    margin: 0 auto;
}
#content {
    background: #F4ECE0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding-bottom: 30px;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #222;
}
li {
    list-style: none;
    padding: 10px 5px;
}
li:hover {
    color: #FF6600;
    cursor: pointer;
}
#story_titles, #article {
    height: 550px;
    width: 400px;
    /*border: 1px solid #ccc;*/
    padding: 5px;
    background: #F6F6EF;
    /*box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.37);*/
    margin: 0 40px;
}
#story_titles {
    overflow: auto;
}
#article p {
    word-wrap: break-word;
    padding: 10px 5px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    background-color: #F6F6EF;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background: #F6F6EF;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #ccc; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}